@media (max-width: 600px) {
    .form-row span {
        flex-basis: 100%;
        margin-left: 108px;
        margin-top: 0;
        color: red;
        font-size: small;
        font-style: italic;
    }
    
    .form-row input {
        display: flexbox;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.form-row span {
    margin: 0;
    padding: 0;
    margin-left: 7px;
    color: red;
    font-size: small;
    font-style: italic;
}

.form-row label {   /* ohjeteksti */
    width: 100px;
    text-align: right;
    margin-right: 7px;
}

#kayttajaId, #salasana {
    width: 100px;
}

#nimi, #osoite, #sposti {
    width: 360px;
}

#postinumero {
    width: 160px;
}

#lisätietoja {      /*lisätietoja tekstikenttä*/
    width: 400px;
    height: 200px;
    padding-top: 5px;
    box-sizing: border-box;
    overflow: auto;
}
.valitsin input {      /*sukupuolivalitsin radio*/
    width: 15px !important;
    text-align: left;
}
.kielivalitsin input {  /*kielivalitsin checkbox*/
    width: 15px !important;
    text-align: left;
}
.form-row button[type="submit"] {
    margin-left: 200px;
  }
